<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
		<span>bankOnPEAF </span>
		<mat-icon>account_balance_wallet</mat-icon>
		<span class="example-spacer"></span>
		<a mat-raised-button color="accent" routerLink="/books">Play Celeb Like Cards</a>
		<button mat-button routerLink="/">Home</button>
	</mat-toolbar-row>
</mat-toolbar>

<mat-card>
	<mat-card-content>
		<h2 class="example-h2">Welcome to AJ's Library Search</h2>

		<section class="example-section">
			<label class="example-margin">Search by:</label>
			<mat-radio-group [(ngModel)]="searchType">
				<mat-radio-button class="example-margin" value="(by Author)" (click)="clue='<firstname>space<lastname>'">
					Author
				</mat-radio-button>
				<mat-radio-button class="example-margin" value="(by Title)" (click)="clue='enter 1 (must be just one) keyword'">
					Title
				</mat-radio-button>
			</mat-radio-group>

			<!-- <form class="example-form"> -->
			<mat-form-field class="example-full-width">
				<span matPrefix></span>
				<input type="text" matInput #searchStr="ngModel" [(ngModel)]="search" maxlength="50" placeholder="Enter your search here {{searchType}}" required>
				<mat-hint #hint align="start"><strong>{{clue}}</strong> </mat-hint>
				<mat-hint align="end">{{searchStr.value.length}} / 50</mat-hint>
				<mat-icon color="warn" *ngIf="searchStr.value" matSuffix (click)="searchStr.value=''">close</mat-icon>
			</mat-form-field>

			<button mat-button color="primary" mattooltip="Go search!" routerLink="/search" (click)="findBooks(searchType, searchStr.value)" [disabled]="!searchStr.value">
        <mat-icon>keyboard_return</mat-icon></button>
			<!-- </form> -->
		</section>

	</mat-card-content>
</mat-card>

<mat-card class="result">
	<mat-card-content>
		<h3 class="example-h2">Books Showcase<button mat-button color="primary" mattooltip="Go browse!" routerLink="/" (click)="backHome(searchStr.value)">
        <mat-icon>restore_page</mat-icon>BrowseMode</button></h3>

		<!-- 		<mat-list dense>
			<mat-list-item> Pepper </mat-list-item>
			<mat-list-item> Salt </mat-list-item>
			<mat-list-item> Paprika </mat-list-item>
		</mat-list> -->



		<!--     <section class="example-section">
      <mat-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled">
        Slide me!
      </mat-slide-toggle>
    </section> -->
		<div style="padding: 10px; border: 1px green solid; margin: 10px">
			<router-outlet></router-outlet>
		</div>
	</mat-card-content>
</mat-card>