.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}



body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.example-card {
  min-width: 150px;
  max-width: 560px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-icon {
    padding: 0 14px;
}
  
.example-spacer {
    flex: 1 6 auto;
}

.example-form {
    min-width: 150px;
    max-width: 560px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}
  
.example-right-align {
    text-align: right;
}
  
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}
  
input.example-right-align {
    -moz-appearance: textfield;
}